:root {
    --dark-grey: #272727;
    --grey: #404040;
    --cream: #d8c3ab;
    --white: floralwhite;
    --orange: #d85f14;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
}

.login-button {
    display: inline-block;
    background: var(--white);
    color: var(--dark-grey);
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    border: 3px solid dimgrey;
    font-size: 25px;
    font-weight: 600;
    transition: 0.15s;
}

.login-button:hover {
    background-color: #c8c8c8;
    transform: translateY(-1px);
    cursor: pointer;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 80px 60px 80px;
    border-radius: 25px;
    gap: 5px;
    font-size: 19px;
    background-color: var(--cream);
    border: 3px solid var(--dark-grey) ;
}

.login-form h1{
    text-align: center;
}

.login-form a{
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
}

.login-form input[type="password"], input[type="email"], input[type="text"] {
    border-radius: 6px;
    border: 1px solid;
    font-size: 20px;
    height: 30px;
}

.login-box input[type="submit"] {
    align-self: center;
    margin-top: 30px;
    background-color: var(--orange);
    color: var(--white);
    width: 13vw;
}

.login-box input[type="submit"]:hover {
    background: transparent;
    color: var(--orange);
}

.login-alert {
    font-size: 12px;
    font-weight: bold;
    color: red;
    margin: 0;
    width: 13vw;
    word-wrap: break-word;
    padding: 0;
}

.nav-bar {
    background-color: var(--dark-grey);
    padding: 25px 10px 25px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-elements {
    display: flex;
    gap: 15px;
}

.nav-bar a{
    text-decoration: none;

}

.home-link {
    display: inline-block;
    color: var(--white);
    font-weight: 750;
    font-size: 25px;
    border-radius: 20px;
    padding: 10px;
    transition: 0.1s;
}

.home-link:hover {
    transform: scale(1.03);
    background-color: var(--grey);
}