<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/defaultLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Create Job Application</title>
</head>
<body>
<div layout:fragment="content">
  <form method="post" action="#" th:action="@{/applications/saveNew}" th:object="${jobApplication}">
    <h1>Add New Job Application</h1>

    <input type="hidden" name="accountID" th:value="*{accountID}">

    <label for="company">Company</label>
    <input type="text" th:field="*{company}" id="company" name="company">

    <label for="role">Role</label>
    <input type="text" th:field="*{role}" id="role" name="role">


    <label for="status">Status</label>
    <select th:field="*{status}" id="status" name="status">
      <option th:each="status : ${statuses}" th:value="${status.name()}" th:text="${status.name().toLowerCase()}">
    </select>

    <button type="submit">Create</button>
  </form>
</div>
</body>
</html>