<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/defaultLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Applications</title>
</head>
<body>
<div class="applications-container" layout:fragment="content">

    <!--Search form-->
    <form method="post" action="#" th:action="@{/applications/search/role}" th:object="${searchModel}">
        <label for="searchInput">Role</label>
        <input type="text" th:field="*{searchTerm}"  id="searchInput" name="searchInput" placeholder="search by role...">
        <button type="submit">Search</button>
    </form>

    <!--Table listing job applications-->
    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Role</th>
                <th>Application status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <!--Show application data-->
        <tbody>
            <tr th:each="currentApplication : ${applications}">

                <td th:text="${currentApplication.company}">Company</td>
                <td th:text="${currentApplication.role}">Role</td>
                <td th:text="${currentApplication.status.displayName}">Status</td>

                <td>
                    <!--Edit form-->
                    <form action="#" method="post" th:action="@{/applications/edit}" th:object="${currentApplication}">
                        <input name="applicationID" type="hidden" th:value="${currentApplication.applicationID}">
                        <input name="accountID" type="hidden" th:value="${currentApplication.accountID}">
                        <input name="company" type="hidden" th:value="${currentApplication.company}">
                        <input name="role" type="hidden" th:value="${currentApplication.role}">
                        <input name="status" type="hidden" th:value="${currentApplication.status}">
                        <button type="submit" name="editApplication">Edit</button>
                    </form>
                </td>
                <td>
                    <!--Delete form-->
                    <form action="#" method="post" th:action="@{/applications/delete}">
                        <input applicationID="applicationID" name="applicationID" type="hidden" th:value="${currentApplication.applicationID}">
                        <button type="submit" name="deleteApplication">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>

    </table>
</div>
</body>

</html>