<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/defaultLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Applications</title>
</head>
<body>
<div class="applications-container" layout:fragment="content">

    <!--Search form-->
    <form method="post" class="search-form" action="#" th:action="@{/applications/search/role}" th:object="${searchModel}">
        <input class="search-box" type="text" th:field="*{searchTerm}" name="searchInput" placeholder="Search by Role...">
        <button type="submit" class="search-button">
            <span class="material-symbols-rounded">search</span>
        </button>
    </form>

    <!--Table listing job applications-->
    <table>
        <thead>
            <tr>
                <th th:text="'Company (' + ${applications.size()} + ')'">Company</th>
                <th>Role</th>
                <th>Status</th>
                <th>Location</th>
                <th>Date Applied</th>
                <th colspan="2">
                    <a class="table-btn" href="/applications/addNew">
                        <span class="material-symbols-rounded">add</span>
                    </a>
                </th>
            </tr>
        </thead>

        <!--Show application data-->
        <tbody>
            <tr th:each="currentApplication : ${applications}">

                <td th:text="${currentApplication.company}">Company</td>
                <td th:text="${currentApplication.role}">Role</td>
                <td th:text="${currentApplication.status.displayName}">Status</td>
                <td th:text="${currentApplication.location}">Location</td>
                <td th:text="${#temporals.format(currentApplication.dateApplied, 'dd/MM/yy')}">Date Applied</td>

                <td>
                    <!--Edit form-->
                    <form action="#" method="post" th:action="@{/applications/edit}" th:object="${currentApplication}">
                        <input name="applicationID" type="hidden" th:value="${currentApplication.applicationID}">
                        <input name="accountID" type="hidden" th:value="${currentApplication.accountID}">
                        <input name="company" type="hidden" th:value="${currentApplication.company}">
                        <input name="role" type="hidden" th:value="${currentApplication.role}">
                        <input name="status" type="hidden" th:value="${currentApplication.status}">
                        <input name="location" type="hidden" th:value="${currentApplication.location}">
                        <input name="dateApplied" type="hidden" th:value="${currentApplication.dateApplied}">
                        <button type="submit" class="table-btn" name="editApplication">
                            <span class="material-symbols-rounded">edit</span>
                        </button>
                    </form>
                </td>
                <td>
                    <!--Delete form-->
                    <form action="#" method="post" th:action="@{/applications/delete}">
                        <input id="applicationID" name="applicationID" type="hidden" th:value="${currentApplication.applicationID}">
                        <button type="submit" class="table-btn" name="deleteApplication">
                            <span class="material-symbols-rounded">delete</span>
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>

    </table>
</div>
</body>

</html>