<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div th:replace="layouts/commonHeader :: header"></div>
    <div class="login-box">
        <form class="login-form" action="#" method="post" th:action="@{login}" th:object="${loginModel}">
            <h1>Login</h1>

            <label for="email">Email</label>
            <input th:field = "*{email}" type="text" id="email" name="email">
            <p class="login-alert" th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}"></p>

            <label for="password">Password</label>
            <input th:field = "*{password}" type="password" id="password" name="password">
            <p class="login-alert" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"></p>

            <input type="submit" value="Login" class="login-button">
            <a href="">Forgot password</a>
        </form>
    </div>
</body>
</html>