<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="login-box">
        <form class="login-form" action="/login">
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Login" class="login-button">
            <a href="">Forgot password</a>
        </form>
    </div>
</body>
</html>