<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/defaultLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Log In</title>
</head>
<body>

    <div class="login-box" layout:fragment="content">
        <form class="login-form" action="#" method="post" th:action="@{/login}">
            <h1>Login</h1>

            <label for="email">Email</label>
            <input type="text" id="email" name="username">

            <label for="password">Password</label>
            <input type="password" id="password" name="password">

            <p class="login-alert" th:if="${param.error}">Invalid email or password</p>
            <input type="submit" value="Login" class="login-button">
            <a href="">Forgot password</a>
        </form>
    </div>
</body>
</html>