<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/defaultLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Sign Up</title>
</head>
<body>

<div class="login-box" layout:fragment="content">
    <form class="login-form" action="#" method="post" th:action="@{signup}" th:object="${signupModel}">
        <h1>Sign Up</h1>

        <label for="name">Name</label>
        <input th:field = "*{name}" type="text" applicationID="name" name="name">
        <p class="login-alert" th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')[0]}"></p>

        <label for="email">Email</label>
        <input th:field = "*{email}" type="text" applicationID="email" name="email">
        <p class="login-alert" th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}"></p>

        <label for="password">Password</label>
        <input th:field = "*{password}" type="password" applicationID="password" name="password">
        <p class="login-alert" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"></p>

        <input type="submit" value="Sign Up" class="login-button">
    </form>
</div>
</body>
</html>