<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<div class="login-box">
    <form class="login-form" action="#" method="post" th:action="@{signup}" th:object="${signupModel}">
        <h1>Sign Up</h1>

        <label for="name">Name</label>
        <input th:field = "*{name}" type="text" id="name" name="name">
        <p class="login-alert" th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')[0]}"></p>

        <label for="email">Email</label>
        <input th:field = "*{email}" type="text" id="email" name="email">
        <p class="login-alert" th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}"></p>

        <label for="password">Password</label>
        <input th:field = "*{password}" type="password" id="password" name="password">
        <p class="login-alert" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"></p>

        <input type="submit" value="Sign Up" class="login-button">
    </form>
</div>
</body>
</html>